.title{
font-size: 100px; 
text-align:center;
font-style: italic;
color:purple;
}
body { background: url(http://2.bp.blogspot.com/_EZ16vWYvHHg/TSdAnkMSCDI/AAAAAAAAV1g/wKpmmMVoz3U/s1600/www.BancodeImagenesGratuitas.com%2B%2528mu5%2529.jpg) repeat; } 

.bienvenido{
    font-size: 60px; 
text-align:center;
font-style: unset;
color: tomato;
}
.continue{
    font-size: 15px; 
    font-style: normal;
    margin-left: 630px;
    border-color: rgb(230, 9, 193);
}
.nick{
    background-color: hotpink;
    font-size: 30px;
    border-color: rgb(71, 23, 59);
}

.pregunta{
        font-size: 50px; 
        text-align:center;
        font-style: oblique;
        font-weight:bold;
        color: fuchsia; 
        }
           
.rock {
                background-image:url(https://tse3-2.mm.bing.net/th?id=OIP.Gri8THl19MU4ZaPgTK-ZHAHaFj&pid=Api);
                width: 300px;
                height: 200px;
                margin-left: 400px;
                display: inline-block;
                border-color: rgb(243, 199, 6);
              }
              
.salsa {
                background-image: url(https://tse2.mm.bing.net/th?id=OIP.N--_AShv1OeVxaLQGVOx-AHaFj&pid=Api);
                width: 300px;
                height: 200px;
                margin-left: 20px;
                display: inline-block;
                border-color: rgb(243, 199, 6);
              }
.resultado{
                font-size: 15px; 
                font-style: normal;
                margin-left: 630px;
                background-color: crimson;
                border-color: crimson;
            }
.rock1{
    font-size: 40px; 
                font-style: oblique;
                margin-left: 450px;
                color: white;
                background-color: crimson;
                border-color: crimson;
                display: inline-block;
}
.salsa1{
    font-size: 40px; 
                font-style: oblique;
                margin-left: 20px;
                color: white;
                background-color: crimson;
                border-color: crimson;
                display: inline-block;}

.text{
    font-size: 60px; 
    text-align:center;
    font-style: unset;
    color: tomato;
}

.salir{
    font-size: 30px; 
    font-style: normal;
    margin-left: 550px;
    color: red;
    background-color: black;
    border-color: black;
}